{% extends 'base.html' %}

{% block content %}
    <h1>Yoga Class Booking</h1>
</head>
<body>
    <h1>Welcome to our Yoga Studio</h1>
    <form action="/bookings" method="post">
        <!-- Add your form fields here -->
        <label for="class">Select a Yoga Class:</label>
        <select name="class" id="class">
            <!-- Populate this dropdown with available classes -->
            <option value="yin">Yin Yoga</option>
            <option value="restorative">Restorative Yoga</option>
            <option value="aerial_fundamentals">Aerial FUNdamentals</option>
            <option value="aerial_Intermediate">Aerial Intermediate</option>
            <option value="aerial_Advanced">Aerial Advanced</option>
            <option value="Pilates">Pilates</option>
        </select>
        <br>
        <label for="name">Your Name:</label>
        <input type="text" name="name" id="name" required>
        <br>
        <label for="email">Your Email:</label>
        <input type="email" name="email" id="email" required>
        <br>
        <button type="submit">Book Class</button>
    </form>
</body>
{% endblock %}

    


