{% extends 'base.html' %}

{% block content %}
    <div class="user-links">
        <a href="{{ profile_link }}">View Profile</a>
        <a href="{{ booking_summary_link }}">Booking Summary</a>
    </div>

    <h1>Yoga Class Booking</h1>
    <h1>Welcome to The Yoga Studio</h1>
    <div class="image-container">
        {% for yoga_class in classes %}
            <div class="class">
                <h2>{{ yoga_class.title }}</h2>
                <p>Instructor: {{ yoga_class.instructor }}</p>
                <p>Fee: &euro;{{ yoga_class.fee }}</p>
                <img class="class-image" src="{{ url_for('static', filename='images/' + yoga_class.image_filename) }}" alt="{{ yoga_class.title }} Image">
                <a href="{{ url_for('bookings') }}" class="book-class-link">Book Now</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}



    


